Figures/.ipynb_checkpoints/
Figures/__pycache__/
Code/PopulationInference/.ipynb_checkpoints/
Code/PopulationInference/__pycache__/
Data/PopulationInferenceOutput/.ipynb_checkpoints/
Data/PopulationInferenceOutput/.tmp/
Data/PopulationInferenceOutput/gaussianPlusGaussian/*.json
Data/PopulationInferenceOutput/betaPlusDoubleGaussian/*.json
Data/InjectedPopulationParameters/*.json
Data/PopulationInferenceInput/*.json
Code/GeneratePopulations/.ipynb_checkpoints/
Code/GeneratePopulations/__pycache__/
Code/IndividualInference/.ipynb_checkpoints/
Code/IndividualInference/condor/.ipynb_checkpoints/
Code/IndividualInference/__pycache__/
Code/IndividualInference/injlist_population*.txt
Code/IndividualInference/condor/*.dag
Code/IndividualInference/condor/logs/pop*/*.err
Code/IndividualInference/condor/logs/pop*/*.out
Code/IndividualInference/condor/logs/pop*/*.log
Code/IndividualInference/condor/logs/pop1/.ipynb_checkpoints/
Code/IndividualInference/condor/bilby_test*
Data/IndividualInferenceOutput/population*/.ipynb_checkpoints/
Data/IndividualInferenceOutput/population*/*.log
